bin/
obj/
Documentation/
*.save
*.bin
*.backup
*.layout
*.depend
*.cpb
test/paramLog
test/paramLog.csv
test/test.vtk

helpers/translate/preprocessFile
helpers/translate/paramLog
helpers/translate/translate_params

helpers/Postprocess/postprocess
helpers/julia/preprocessFile
helpers/julia/constants.jl

*.sublime-workspace
*.coatidb
*.coatiproject